<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styless.css">
    <link rel="stylesheet" href="https://fonts.google.com/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Joaquin Fuentes</title>
</head>
<body>
<header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#sobre-mi">Sobre mí </a></li>
                <li><a href="/#conocimientos">Conocimientos </a></li>
                <li><a href="/#educacion">Educación </a></li>
                <li><a href="/#proyectos">Proyectos </a></li>
                <li><a href="/#experiencia">Experiencia </a></li>
                <li><a href="/#contacto">Contacto </a></li>
            </ul>
        </nav>
</header>
<main>
       <div class="foto-perfil">
           <div class="contenedor-foto-perfil">
               <img src="../../../img/fotoperfil.jpg" alt="foto de perfil">
           </div>
       </div>
       <div class="nombre">
           <div class="contenedor-nombre">
               <h1>Joaquin Fuentes</h1>
               <h2>Front End Developer</h2>
           </div>
       </div>
</main>
<section class="sobremi-experiencia">
    <article class="sobre-mi">
        <div class="contenedor-sobre-mi">
            <h2 class="titulo" id="sobre-mi">Sobre mí</h2>
            <h3 class="sub-titulo">¿Quién soy?</h3>
            <h4 class="sub-sub-titulo">Un Joven apasionado de la tecnología y el desarrollo web</h4>
            <h5 class="desarrollo">Me gusta aprender nuevas tecnologías, solucionar problemas y adaptarme a nuevos conocimientos o lenguajes</h5>
            <a href="../../../pdf/Joaquin Fuentes CV.pdf" target="_blank">Ver CV</a>
        </div>
    </article>
    <article class="experiencia">
        <div class="contenedor-sobre-mi">
            <h2 class="titulo" id="experiencia">Experiencia</h2>
            <h3 class="sub-titulo">Trabajo</h3>
            <h4 class="sub-sub-titulo">Servicio freelancer y proyectos personales</h4>
            <h5 class="desarrollo">Creación de plantillas web , arreglo diseños, ayuda a otros programadores a terminar algún proyecto estancado. Actualmente trato de volcar las ideas y necesidades de las personas en una solución y programarlo a medida.</5>
        </div>
    </article>  
</section>
<section class="conocimientos">
    <h2 class="titulo" id="conocimientos">Conocimientos</h2>
    <div class="contenedor-conocimientos">
        <div class="contenedor-tarjeta-conocimiento">
            <div class="tarjeta-conocimientos">
                <i class="fab fa-html5"></i>
                <h4>HTML</h4>
             </div>
        </div>
        <div class="contenedor-tarjeta-conocimiento">
            <div class="tarjeta-conocimientos">
                <i class="fab fa-css3"></i>
                <h4>CSS</h4>
             </div>
        </div>
        <div class="contenedor-tarjeta-conocimiento">
            <div class="tarjeta-conocimientos">
                <i class="fab fa-js-square"></i>
                <h4>Javascript</h4>
             </div>
        </div>
        <div class="contenedor-tarjeta-conocimiento">
            <div class="tarjeta-conocimientos">
                <i class="fab fa-github"></i>
                <h4>GITHUB</h4>
             </div>
        </div>
        <div class="contenedor-tarjeta-conocimiento">
            <div class="tarjeta-conocimientos">
                <i class="fab fa-node"></i>
                <h4>Node JS</h4>
             </div>
        </div>
        <div class="contenedor-tarjeta-conocimiento">
            <div class="tarjeta-conocimientos">
                <i class="fab fa-node-js"></i>
                <h4>Express JS</h4>
             </div>
        </div>
    </div>
</section>
<!-- 
<section class="conocimientos-basicos">
    <h2 class="titulo">Conocimientos Básicos</h2>
    <div class="contenedor-conocimientos-basicos">
        <div class="contenedor-tarjeta-conocimiento-basicos">
            <div class="tarjeta-conocimientos-basicos">
                <i class="fab fa-php"></i>
                <h4>PHP</h4>
             </div>
        </div>
        <div class="contenedor-tarjeta-conocimiento-basicos">
            <div class="tarjeta-conocimientos-basicos">
                <i class="fas fa-database"></i>
                <h4>MySQL</h4>
             </div>
        </div>
        <div class="contenedor-tarjeta-conocimiento-basicos">
            <div class="tarjeta-conocimientos-basicos">
                <i>icono</i>
                <h4>jQuery</h4>
             </div>
        </div>
    </div>
</section>
-->

<section class="contacto-educacion">
    <article class="contacto">
        <div class="contenedor-contacto">
            <h2 class="titulo" id="contacto">Contacto</h2>
            <div class="iconos">
                <i class="fab fa-whatsapp"> 381-6097754</i>
                <i class="fas fa-envelope"> joaquin_eas@hotmail.com</i>
                <a href="https://www.linkedin.com/in/joaqu%C3%ADn-fuentes-391b47207/"><i class="fab fa-linkedin"> Perfil de linkedin</i></a>
                <a href=">https://github.com/joaquin-fuentes"><i class="fab fa-github"> Perfil de Github</i></a>  
            </div>
            <h4 class="desarrollo">Me encuentro en búsqueda de trabajar en alguna empresa, como junior o como pasante en prueba. Tengo ganas de aprender y ganar experiencia.</h4>
        </div>
    </article>
    <article class="educacion">
        <div class="contenedor-educacion">
            <h2 class="titulo" id="educacion">Educacíon</h2>
            <h3>Digital House <h4>Actualmente me encuentro realizando el curso de Desarrollo Web Full Stack</h4> </h3>
            <h3>Universidad Nacional de Tucumán <h4>Terminando la carrera de Profesor de Educación Física</h4></h3>
            <h3>Autodidacta </h3>
         </div>
    </article>  
</section>
<section class="proyectos">
    <h2 class="titulo" id="proyectos">Proyectos</h2>
    <div class="contenedor-proyectos">
        <article class="tarjeta-proyecto">
            <img src="../../../img/webassembly-t.jpg" alt="">
            <div class="hover-proyecto">
                <h2>Moda-Sport</h2>
                <h4>Es una pagina que cree para un negocio de venta de ropa deportiva</h4>
                <a href="">Ver Sitio Web </a>
            </div>
        </article>
        <article class="tarjeta-proyecto">
            <img src="../../../img/tkc-portada.png" alt="">
            <div class="hover-proyecto">
                <h2>Tucuman Kayak Club</h2>
                <h4>Tucuman Kayak Club es una empresa que se dedica a prestar servicios de Turismo Aventura en la zona del Cadillal - Tucuman - Argentina</h4>
                <a href="https://tkc21.herokuapp.com/">Ver Sitio Web</a>
            </div>
        </article>
    </div>
    <div class="contenedor-enlace">
        <a href="https://github.com/joaquin-fuentes">GITHUB</a>
    </div>
</section>


</body>
</html>